CALDAV_SERVER_URL=https://caldav.example.com/
CALDAV_USERNAME=your-username@example.com
CALDAV_PASSWORD=your-app-specific-password
CALDAV_CALENDAR_NAME=Example Calendar
CALDAV_ORGANIZER_NAME=Calendar Bot
# optional:
# CALDAV_RANGE_START=2026-05-03T00:00:00+02:00
# CALDAV_RANGE_END=2026-05-10T00:00:00+02:00
# CALDAV_EXPAND_RECURRING=true
