CALDAV_SERVER_URL=https://caldav.example.com/
CALDAV_USERNAME=your-username
CALDAV_PASSWORD=your-password
CALDAV_CALENDAR_NAME=Personal
CALDAV_ORGANIZER_NAME=Bender
# optional:
# CALDAV_RANGE_START=2026-05-03T00:00:00+02:00
# CALDAV_RANGE_END=2026-05-10T00:00:00+02:00
# CALDAV_EXPAND_RECURRING=true
